.test{
    overflow: hidden;
}
.test1{
	background-color: blue;
}
.test2{
	background-color: green;
}
.test3{
	background-color: yellow;
}


/* Override */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding: 0;
}
.navbar-default{
	/*background-color: #f02311;*/
	background-color: #1f2857;
	margin: 0;
	padding: 0 1em;
	height: 50px;
	border-radius: 0;
	border: 0;
}
.navbar-default .navbar-nav>li{
	padding-left: 0 !important; 
	padding-right: 0 !important; 
}
a{
	padding: 1.2em 0em;
	height: 50px;
	border: 0;
	font-size: 1em;
	color: #dfdfdf;

	-webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}
a:hover{
        -webkit-transition: color 300ms linear;
        -moz-transition: color 300ms linear;
        -o-transition: color 300ms linear;
        -ms-transition: color 300ms linear;
        transition: color 300ms linear;
        
        text-decoration: none;
	color: #fff;
}
a:focus{
	-webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;


	color: #fff;
        text-decoration: none;
	outline: none !important;
}
.dropdown-menu{
	min-width: 60px;
	margin-left: -5px;
}
.dropdown-toggle{
	float: right;
	margin-right: 0.5em;
	padding: 0.5em;
	background-color: transparent;
	border: none;
}

.dropdown-toggle:hover, .dropdown-toggle:focus{
	background-color: transparent;
	border: 0;
	outline: none;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default{
	background-color: transparent;
	border: none;
	background-color: #0a123b;
}
.btn-default{
    width: 50px;
	background-color: #0a123b;
}
/* Override */




*{
	margin: 0;
	padding: 0;
}
.brand{
	padding-left: 0.5em;
}
body{
    padding-top: 100px;
	background-color: #0a123b;
	background-image: url(../resources/img/grid.png);
}
.search-ctnr{
	padding: 0.6em 0.6em;
}
.login-ctr{
	text-align: right;
}

.main-ctnr{
	color: #dfdfdf;
	padding: 30px;
}
h1{
	/*color: #0a123b;*/
	font-size: 2em;
	margin: 20px;
}
.brand{
	padding-left: 1.5em;
}
@media screen and (max-width: 768px){
	.brand{
		padding-left: 2em;
	}
}
article{
    position: relative;
	float: left;
	background-color: #1f2857;
	width: 215px;
        height: 350px;
	margin: 20px;
}
h6{
	font-size: 1em;
	padding: 1em;
}
.btns{
    position: absolute;
    bottom: 0;
}
.btns li{
    font-size: 0.8em;
	display: inline;
	margin: 10px;
}
.btns li:hover{
	cursor: pointer;
}
.article-ctnr{
	overflow: hidden;
}
.charts-ctnr{
    overflow: hidden;
}
.main-menu li, dropdown-menu li{
    padding-top: 1em !important;
}
.btn{
    border:0;
    outline: none;
}
.btn:focus{
    outline: none;
    border: 0;
}
.btn:active{
    outline: none;
    border: 0;
}
.form-control, .input-group-addon, .input-group-btn{
    display: block;
}
.input-group{
    width: 85%;
}
.audio-player{
    background-color: #1f2857;
    position: fixed;
    bottom: -50px;
    padding: 0.5em 3.5em;
    width: 100%;
}
.audio-player h2{
    color: #dfdfdf;
    font-size: 1em;
    margin: 0;
    padding: 0.5em;
    width: 40%;
    float: right;
}
.audio-player audio{
    width: 60%;
    float: left;
}
.genre-menu{
    float: right;
    margin-right: 50px;
    background-color: #1f2857;
    padding: 1em;
}